/* Main Elements */
body {
    background: url('Math-awareness-month-feature-image.jpg');
    background-size: 100%;
}
body,
input,
option {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
input,
select {
    display: block;
    margin: auto;
    margin-bottom: 18px;
}
ul {
    list-style-type: none;
}
td {
    text-align: center;
    font-weight: normal;
}
button,
input[type=button] {
    border: none;
    margin: auto;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
table {
    margin-bottom: 1em;
}

/* Classes */
.qBox {
    display: inline-block;
}
.game-box {
    background-color: rgb(57, 141, 209);
    border-radius: 15px;
    box-shadow: 5px 5px 16px #000;
    display: inline-block;
    margin: 30px auto 0 auto;
    max-width: 300px;
    padding: 50px 30px 50px 30px;
    font-weight: bold;
    display: block;
}
.react {
    background: linear-gradient(to bottom right, #398DD1 0%, #34C7E8 100%);
}

.messages {
    margin-top: 30px;
    position: relative;
    font-weight: bold;
}

/* IDs */
#start {
    display: inline-block;
}
#prompts .game-box {
    padding: .5em;
    margin: 5em auto;
    border: 1px solid rgb(57, 141, 209);
    cursor: pointer;
    transition: .2s;
    /* color: white; */
}
#prompts .game-box:hover {
    border: 1px solid rgb(117, 192, 253);
    box-shadow: 1px 1px 4px #000;
    color: white;
}
#prompts .game-box:active {
    box-shadow: none;
    color: white;
    transition: 0s;
}
#version {
    margin: 0 auto;
    font-size: 1em;
}
#mathType {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
#mathType p {
    font-size: .7em;
    font-weight: 500;
}
#mathType input {
    cursor: pointer;
}

/* Display controls */
.display-none {
    display: none;
}
.display-block {
    display: block;
}